* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

div {
  height: 200px;
  width: 200px;
  border: 2px solid rgb(238, 238, 238);
  margin: 30px;
  border-radius: 50%;
}

button {
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

.lightup {
  background-color: yellow;
}
