* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
}
#Navbar {
  height: 100%;
  grid-row: 1 / 4;
  background-color: blue;
}
#sec1 {
  height: 100%;
  grid-row: 1 / 4;
  background-color: rgb(221, 171, 109);
}
#sec2 {
  height: 100%;
  grid-row: 1 / 4;
  background-color: rgb(221, 109, 158);
}
#sec3 {
  height: 100%;
  grid-row: 1 / 4;
  background-color: rgb(19, 56, 25);
}
#sec4 {
  height: 100%;
  grid-row: 1 / 4;
  background-color: rgb(204, 221, 24);
}
